
<!DOCTYPE html>
{{#if flag}}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sign Up/Sign In</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .nav-tabs>li {
            width: 50%;
            text-align: center
        }

        .nav-tabs>li.active>a,
        .nav-tabs>li.active>a:focus,
        .nav-tabs>li.active>a:hover {
            color: #FFF !important;
            cursor: default;
            background-color: #2e6da4 !important;
            border: 1px solid #ddd !important;
            border-bottom-color: transparent;
        }

        .tab-pane {
            margin-top: 20px;
        }

        .requisiteTip {
            color: red;
        }
    </style>
    <link rel="stylesheet" href="/public/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/Normalize.css">
    <script src="/public/javascrip/jquery.min.js"></script>
    <script src="/public/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="/public/javascrip/register.js"></script>
</head>

<body>
    <main>
        {{{body}}}
    </main>
</body>
<script>
    $('.navbar').css('position', 'absolute');
    $('li[name="reg_tag "]').on('click', function() {
        if (!$(this).hasClass('active')) {
            $(this).addClass('active');
            $('li[name="login_tag "]').removeClass('active');
        }
    })
    $('li[name="login_tag "]').on('click', function() {
        if (!$(this).hasClass('active')) {
            $(this).addClass('active');
            $('li[name="reg_tag "]').removeClass('active');
        }
    })
</script>

</html>
{{else}}
{{{body}}}
{{/if}}
