<!DOCTYPE html>
{{#if flag}}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    {{> head_script}}
    <link rel="stylesheet" href="/public/css/register.css">
    <script src="/public/js/register.js"></script>
</head>

<body>
    <main>
        {{{body}}}
    </main>
</body>
</html>
{{else}}
{{{body}}}
{{/if}}
