<html lang="en">

<head>
    <title>Charge Summary</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">

    {{> head_script}}
    <script src="/public/js/sys_js_changePasswd.js"></script>

</head>

<body>
    <label id="message" class="hidden">{{message}}</label>
            <br/>
            <form id="inputForm"  action="/changePasswd/change" method="post"
                class="form-horizontal">
                <div class="control-group">
                    <div class="row">
                        <div class="col-md-2 ">
                            <label class="control-label" for="passwd">Old PassWord</label> <span class="red-color">*</span>
                        </div>
                        <div class="col-md-4">
                            <input type="password" class="form-control " id="passwd" name="passwd" required>
                        </div>
                    </div>
                </div>

                <div class="control-group">
                    <div class="row">
                        <div class="col-md-2 ">
                            <label class="control-label" for="passwd1">New PassWord</label> <span class="red-color">*</span>
                        </div>
                        <div class="col-md-4">
                            <input type="password" class="form-control " id="passwd1" name="passwd1" required>
                        </div>
                    </div>
                </div>
                <div class="tip" id="passwd1Tip"></div>
                <div class="control-group">
                    <div class="row">
                        <div class="col-md-2 ">
                            <label class="control-label" for="passwd2">Confirm PassWord</label> <span class="red-color">*</span>
                        </div>
                        <div class="col-md-4">
                             <input type="password" class="form-control " id="passwd2" name="passwd2" required>
                        </div>
                    </div>
                </div>
                <div class="tip" id="passwd2Tip"></div>
                <div class="form-actions">
                    <input id="btnSubmit" class="btn btn-primary" type="submit" value="submit" onsubmit="return btnSubmit();" />&nbsp;
                </div>
            </form>
</body>

</html>