<html lang="en">
<head>
    <title>{{title}}</title>
    <meta name="decorator" content="blank" />
    {{> head_script}}
    <script src="/public/javascrip/sysindex.js"></script>
</head>

<body>
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="navbar navbar-default">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Project name</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul id="topMenu" class="nav navbar-nav">
                            <li><a class="menu" id="topMenu1" data-id="1" href="#">Charge Management</a></li>
                            <li><a class="menu" id="topMenu2" data-id="2" href="#">Finance Management</a></li>
                            <li><a class="menu" id="topMenu3" data-id="3" href="#">Drug Management</a></li>
                            <li><a class="menu" id="topMenu4" data-id="4" href="#">System Settings</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a title="login out" href="http://localhost:3000">login out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row " style="top:0%">
                <div class="col-md-2" id="menu">
                    <div class="panel panel-default hidden" id="panel">
                        <div class="panel-heading" id="panelHead"></div>
                        <div class="panel-body">
                            {{#each menuList}}
                            <ul id="menu{{parent_id}}" class="nav nav-pills nav-stacked hidden">
                                {{#child_id}}
                                <li role="presentation"><a class="menu" href={{href}} target="mainFrame">{{name}}</a>
                                </li>
                                {{/child_id}}
                            </ul>
                            {{/each}}
                        </div>
                    </div>
                </div>
                <div class="col-md-10">
                    <iframe id="mainFrame" name="mainFrame" src="" style="overflow:visible;" scrolling="yes"
                        frameborder="no" width="100%" height="650">
                    </iframe>
                </div>
            </div>
        </div>
    </main>
</body>

</html>